{% block stylesheets %}
    <link href="{{ asset('css/twentytwenty.css') }}" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js"></script>

    <style>
        #container {
            font: 12px Arial;
        }

        path {
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }

        .axis line,
        .axis path {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

        .brush .extent {
            stroke: #fff;
            fill-opacity: 0.125;
            shape-rendering: crispEdges;
        }

        .loader {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.8);
            text-align: center;
            z-index: 99;
            display: none;
        }

        .loader p {
            margin-top: 180px;
        }

    </style>

    <script type="text/javascript">
        'use strict';

        $(function() {

            requirejs.config({
                "baseUrl": "{{ asset('js') }}",
                "paths": {
                    "app": "./",
                    'moment': 'http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min',
                    'underscore': 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min'
                }
            });

            require(['d3.chart'], function(d3Chart) {
                console.log('d3Chart cargado.');
                d3Chart.init({container: '#container', xDim: 'DateTime'});
                window.d3Chart = d3Chart;
                // d3Chart.addGraph({ id: 'Speed', type: 'horizon', name: 'Speed', dataId: 512, yVal: ['Value'], data: speedData });   d3Chart.addGraph({ id: 'DI', type: 'digital', name: 'Digital Input', dataId: 522, data: diData });       d3Chart.addGraph({ id:
                // 'Accel', type: 'analog', name: 'Accel', dataId: 522, yVal: ['X', 'Y', 'Z'], data: accelData }); setTimeout(function() {     d3Chart.reorderGraph('Accel', 'up');
                //
                //     //window.setTimeout(function () {    d3Chart.removeGraph('RPM'); }, 2000);
                //
                // }, 3000);

            });

        });
    </script>

    <script type="text/javascript">

        function agregarGraficar(obj) {
            window.d3Chart.addGraph(obj);
            window.d3Chart.render();
        }

        function graficarParametro(ele) {
            var idParametro = ele.value;
            var data = new Array();

            for (var i = 0; i < window.muestras.length; i++) {
                var lecturas = window.muestras[i].lecturas;
                var parametro = new String();
                for (var j = 0; j < lecturas.length; j++) {
                    if (lecturas[j].idParametro === idParametro) {
                        data.push({'DateTime': window.muestras[i].fechaToma, 'Value': lecturas[j].concentracion});
                    }
                }
            }
            var parametro = getParametroById(idParametro);
            var obj = {
                id: 'parametro' + idParametro,
                type: 'analog',
                name: parametro.nombre,
                yVal: ['Value'],
                maximo: parametro.maxL,
                minimo: parametro.minL,
                unidad: parametro.unidad,
                data: data
            }

            console.log('obj', obj);
            if (data.length === 0) {
                window.alert('No hay datos.');
                return;
            } else if (data.length === 1) {
                window.alert('Solo hay 1 dato.');
                return;
            }
            agregarGraficar(obj);
        }

        function getParametroById(id){
          return window.parametros.filter(x => x.id === id)[0];
          //myArray.filter(x => x.id === '45').map(x => x.foo)
        }

        function graficarPrueba(){
          var obj = {
              id: 'parametroinventado',
              type: 'analog',
              name: 'inventado',
              yVal: ['Value'],
              maximo: 0.4,
              minimo: 0.2,
              unidad: 'litros',
              data: mercurio
          }
          agregarGraficar(obj);
          var obj = {
              id: 'parametroinventado2',
              type: 'analog',
              name: 'Inventado 2',
              yVal: ['Value'],
              maximo: 0.4,
              minimo: 0.2,
              unidad: 'cms',
              data: mercurio2
          }
          agregarGraficar(obj);
          var obj = {
              id: 'parametroinventado3',
              type: 'analog',
              name: 'Inventado 3',
              yVal: ['Value'],
              maximo: 0.4,
              minimo: 0.2,
              unidad: 'semillas',
              data: arsenico
          }
          agregarGraficar(obj);
        }

        // function getLecturasByMuestra(muestra) {     $.ajax({         url: '/muestra/' + muestra.id + '/lecturas'     }).done(function(a) {         console.log('Lectura de muestra ' + muestra.id + ': ', a);         muestra.lecturas = a;     }); } function
        // consultarTodasLecturas() {     for (var i = 0; i < window.muestras.length; i++) {         getLecturasByMuestra(window.muestras[i]);     } } consultarTodasLecturas();
    </script>

{% endblock %}

<script src="{{ asset('js/sample_data.js') }}"></script>

<div id="container" style="min-width: 300px;width:100%">
    <div class="loader">
        <p>Working...</p>
    </div>
</div>

<ul class="list-inline">
    <li>
        <a class="btn btn-info" href="#" onclick="graficarPrueba();">Prueba</a>
    </li>
</ul>
