<style type="text/css">
<!--
table { vertical-align: top; }
tr    { vertical-align: top; }
td    { vertical-align: top; }
}
-->
</style>
<page backcolor="#FEFEFE" backimg="./res/bas_page.png" backimgx="center" backimgy="bottom" backimgw="100%" backtop="0" backbottom="30mm" footer="date;heure;page" style="font-size: 12pt">
    <bookmark title="Lettre" level="0" ></bookmark>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px">
        <tr>
            <td style="width: 75%;">
            </td>
            <td style="width: 25%; color: #444444;">
                <img style="width: 100%;" src="http://cuatroconceptos.com/wp-content/uploads/2016/05/logo_pq.png" alt="Logo"><br>
                RELATION CLIENT
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table cellspacing="0" style="width: 100%; text-align: left; font-size: 11pt;">
        <tr>
            <td style="width:50%;"></td>
            <td style="width:14%; ">Cliente :</td>
            <td style="width:36%">M. Albert Dupont</td>
        </tr>
        <tr>
            <td style="width:50%;"></td>
            <td style="width:14%; ">Dirección :</td>
            <td style="width:36%">
                Résidence perdue<br>
                1, rue sans nom<br>
                00 000 - Pas de Ville<br>
            </td>
        </tr>
        <tr>
            <td style="width:50%;"></td>
            <td style="width:14%; ">Email :</td>
            <td style="width:36%">nomail@domain.com</td>
        </tr>
        <tr>
            <td style="width:50%;"></td>
            <td style="width:14%; ">Tel :</td>
            <td style="width:36%">33 (0) 1 00 00 00 00</td>
        </tr>
    </table>
    <br>
    <br>
    <table cellspacing="0" style="width: 100%; text-align: left;font-size: 10pt">
        <tr>
            <td style="width:50%;"></td>
            <td style="width:50%; ">Spipu Ville, le 16/02/2017</td>
        </tr>
    </table>
    <br>
    <i>
        <b><u>Objet </u>: &laquo; Bon de Retour &raquo;</b><br>
        Compte client : 00C4520100A<br>
        Référence du Dossier : 71326<br>
    </i>
    <br>
    <br>
    Madame, Monsieur, Cher Client,<br>
    <br>
    <br>
    Nous souhaitons vous informer que le dossier <b>71326</b> concernant un &laquo; Bon de Retour &raquo; pour les articles suivants a été accepté.<br>
    <br>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
        <tr>
            <th style="width: 12%">Produit</th>
            <th style="width: 52%">Désignation</th>
            <th style="width: 13%">Prix Unitaire</th>
            <th style="width: 10%">Quantité</th>
            <th style="width: 13%">Prix Net</th>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">990862</td>
            <td style="width: 52%; text-align: left">le produit n°78</td>
            <td style="width: 13%; text-align: right">57,11 &euro;</td>
            <td style="width: 10%">1</td>
            <td style="width: 13%; text-align: right;">57,11 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">669509</td>
            <td style="width: 52%; text-align: left">le produit n°11</td>
            <td style="width: 13%; text-align: right">34,17 &euro;</td>
            <td style="width: 10%">12</td>
            <td style="width: 13%; text-align: right;">410,04 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">589634</td>
            <td style="width: 52%; text-align: left">le produit n°62</td>
            <td style="width: 13%; text-align: right">58,31 &euro;</td>
            <td style="width: 10%">15</td>
            <td style="width: 13%; text-align: right;">874,65 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">701866</td>
            <td style="width: 52%; text-align: left">le produit n°47</td>
            <td style="width: 13%; text-align: right">29,44 &euro;</td>
            <td style="width: 10%">20</td>
            <td style="width: 13%; text-align: right;">588,80 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">703822</td>
            <td style="width: 52%; text-align: left">le produit n°68</td>
            <td style="width: 13%; text-align: right">73,87 &euro;</td>
            <td style="width: 10%">13</td>
            <td style="width: 13%; text-align: right;">960,31 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">767433</td>
            <td style="width: 52%; text-align: left">le produit n°64</td>
            <td style="width: 13%; text-align: right">34,09 &euro;</td>
            <td style="width: 10%">4</td>
            <td style="width: 13%; text-align: right;">136,36 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">181848</td>
            <td style="width: 52%; text-align: left">le produit n°33</td>
            <td style="width: 13%; text-align: right">11,28 &euro;</td>
            <td style="width: 10%">12</td>
            <td style="width: 13%; text-align: right;">135,36 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">759973</td>
            <td style="width: 52%; text-align: left">le produit n°74</td>
            <td style="width: 13%; text-align: right">33,98 &euro;</td>
            <td style="width: 10%">20</td>
            <td style="width: 13%; text-align: right;">679,60 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">399080</td>
            <td style="width: 52%; text-align: left">le produit n°88</td>
            <td style="width: 13%; text-align: right">4,39 &euro;</td>
            <td style="width: 10%">14</td>
            <td style="width: 13%; text-align: right;">61,46 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">162273</td>
            <td style="width: 52%; text-align: left">le produit n°71</td>
            <td style="width: 13%; text-align: right">3,12 &euro;</td>
            <td style="width: 10%">19</td>
            <td style="width: 13%; text-align: right;">59,28 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #F7F7F7; text-align: center; font-size: 10pt;">
        <tr>
            <td style="width: 12%; text-align: left">674157</td>
            <td style="width: 52%; text-align: left">le produit n°70</td>
            <td style="width: 13%; text-align: right">24,96 &euro;</td>
            <td style="width: 10%">14</td>
            <td style="width: 13%; text-align: right;">349,44 &euro;</td>
        </tr>
    </table>
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
        <tr>
            <th style="width: 87%; text-align: right;">Total : </th>
            <th style="width: 13%; text-align: right;">4 312,41 &euro;</th>
        </tr>
    </table>
    <br>
    Cette reprise concerne la quantité et les matériels dont la référence figure sur le <a href="#document_reprise">document de reprise joint</a>.<br>
    Nous vous demandons de nous retourner ces produits en parfait état et dans leur emballage d'origine.<br>
    <br>
    Nous vous demandons également de coller impérativement l'autorisation de reprise jointe, sur le colis à reprendre afin de faciliter le traitement à l'entrepôt.<br>
    <br>
    Notre Service Clients ne manquera pas de revenir vers vous dès que l'avoir de ces matériels sera établi.<br>
    <nobreak>
        <br>
        Dans cette attente, nous vous prions de recevoir, Madame, Monsieur, Cher Client, nos meilleures salutations.<br>
        <br>
        <table cellspacing="0" style="width: 100%; text-align: left;">
            <tr>
                <td style="width:50%;"></td>
                <td style="width:50%; ">
                    Mle Jesuis CELIBATAIRE<br>
                    Service Relation Client<br>
                    Tel : 33 (0) 1 00 00 00 00<br>
                    Email : on_va@chez.moi<br>
                </td>
            </tr>
        </table>
    </nobreak>
</page>
